version: "3.9"

services:
  backend:
    build: .
    container_name: fastapi_backend
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env.docker
    depends_on:
      - postgres
      - redis
    networks:
      - gdcv_net

  postgres:
    image: postgres:15
    container_name: gdcv_postgres
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - gdcv_net

  redis:
    image: redis:7
    container_name: gdcv_redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - gdcv_net

networks:
  gdcv_net:

volumes:
  postgres_data:
